<header class="header-box">
    <h3>Your stored Pokemons</h3>
    <p><a role="button" class="btn btn-primary" routerLink="/pokedex">Go to the Pokedex</a></p>
</header>

<div class = "pokemon-grid">
    <div class="box" *ngFor="let pokemon of pokemons">
        <div class="card-body">
            <img [src] ="pokemon.sprites.front_default" alt="Pokemon Image">
            <h3>{{ pokemon.name }}</h3>
            <p><b>Type: </b> {{ pokemon.types[0].type.name }}</p>
            <p><b>Health: </b> {{ pokemon.stats[0].base_stat }}</p>
            <p><b>AP: </b> {{ pokemon.stats[1].base_stat }}</p>
        </div>
    </div>
</div>
