.pokemon-grid {
    display: grid;
    grid-gap: 16px;
    padding: 20px;
    grid-template-columns: repeat(auto-fit, minmax(19%, 1fr));
}

.pokemon-grid h3 {
    font-size: larger;
    font-weight: bold;
}

.pokemon-grid .box {
    width: 100%;
    height: 300px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
    display: grid;
    text-align: center;
}

.pokemon-grid .box img{
    max-width: 100px;
    display: block;
    margin: 0 auto;
}

pagination-controls{
    text-align: center;
}