<div class = "pokemon-grid">
    <div class="box" *ngFor="let pokemon of pokemons | paginate: { itemsPerPage: 10, currentPage: page, totalItems: totalPokemons }">
        <div class="card-body" [routerLink]="['/store']">
            <img [src] ="pokemon.sprites.front_default" alt="Pokemon Image">
            <h3>{{ pokemon.name }}</h3>
            <p><b>Type: </b> {{ pokemon.types[0].type.name }}</p>
            <p><b>Health: </b> {{ pokemon.stats[0].base_stat }}</p>
            <p><b>AP: </b> {{ pokemon.stats[1].base_stat }}</p>
            <p><a role="button" class="btn btn-primary" routerLink="/store" (click)="onCellButtonClick(pokemon.name)">Catch it</a></p>
        </div>
    </div>
</div>

<pagination-controls (pageChange) = "page= $event; pokemons= []; getPokemons()"></pagination-controls>
