<header>
    <h3>Please Login to your Pokestore</h3>
</header>


<ul class="login-create">
    <form #createForm="ngForm" (ngSubmit)="onLoginPush(createForm)">
        <p><input type="text" id="trainerName" name="trainerName" placeholder="TrainerName" 
                required 
                minlength="3"
                ngModel #trainerName="ngModel" /></p>
        <p><a role="button" class="btn btn-primary" routerLink="/store">Login</a></p>
    </form>
</ul>


